<form method="post" action="/task/add">
  <label>Add Task</label>
  <input type="text" name="task" placeholder="Add Task">
  <input type="submit" value="Submit">
</form>

<%= title %>

<form method="post" action="/task/delete">
  <ul>
    <% tasks.forEach(function(task){ %>
    <li>
      <label>
        <input type="checkbox" name="tasks" class="del" value="<%= task %>">
        <span><%= task %></span>
      </label>
    </li>
    <% }) %>
  </ul>
</form>