<form method="post" action="/task/add">
  <label>Add Task</label>
  <input type="text" name="task" placeholder="Add Task">
  <input type="submit" value="Submit">
</form>

<%= title %>

<ul>
  <% tasks.forEach(function(task){ %>
  <li><%= task %></li>
  <% }) %>
</ul>